
#legend {
  font-size: 12px;
  min-height: 12px;
  padding: 3px 10px;
}

.legend-color {
  border: 1px solid #333;
  display: inline-block;
  height: 12px;
  margin-bottom: -1px;
  margin-left: 15px;
  margin-right: 3px;
  min-width: 12px;
}

#settings {
  background: #fff;
  font-size: 13px;
  left: -160px;
  position: fixed;
  top: 120px;
  transition: left .3s;

  #settings-form {
    float: left;
    padding: 5px;
    width: 160px;
  }

  #settings-handle {
    float: left;
    font-size: 20px;
    padding: 5px;
    text-align: right;
    width: 20px;
  }

  &:hover {
    left: 0;
  }

  #width-attribute {
    margin-bottom: 5px;
  }

  #height-attribute {
    margin-bottom: 15px;
  }
}

#histrograms-wrapper {
  background: #fff;
  font-size: 10px;
  height: 280px;
  position: fixed;
  right: -480px;
  top: 120px;
  transition: right .5s;
  width: 500px;

  &:hover {
    right: 0;
  }

  #histograms {
    float: left;
    height: 280px;
    padding: 5px;
    width: 480px;

    #histograms-title {
      display: inline-block;
      font-size: 13px;
      font-weight: bold;
      margin-top: 3px;
      text-align: center;
    }
  }

  #histograms-handle {
    float: left;
    font-size: 20px;
    padding: 5px;
    text-align: left;
    width: 20px;
  }

  .bar rect {
    fill: #3957BA;
  }

  .bar text {
    fill: #fff;
    font-size: 9px;
  }

  .axis path,
  .axis line {
    fill: none;
    font-size: 9px;
    stroke: #000;
  }

  .carousel-indicators {
    bottom: 200px;
  }

  .carousel-indicators li {
    border: 1px solid #737373;
  }

  .carousel-indicators .active {
    background-color: #eee;
  }

  .carousel-caption {
    font-size: 12px;
    padding-bottom: 160px;
  }

  .carousel-control {
    background-image: none !important;
    padding-top: 70px;

    &:hover, &:active {
      color: #000;
    }
  }
}

.short-select {
  height: 20px;
  min-height: 20px;
  max-width: 100px;
  padding: 2px;
  font-size: 12px;
}

.carousel-caption,
.carousel-control {
  color: #2e2e2e;
  text-shadow: none;
}

h2 {
  margin: 0;
}

#tracker {
  background: #fff;
  display: none;
  padding: 10px;
  position: fixed;
  text-align: center;
  width: 300px;
  word-wrap: break-word;
}

.navbar-nav>li>a {
  .fa {
    display: inline;
    margin-right: 3px;
    line-height: 20px;
  }
}

.navbar-brand {
  margin-right: 60px;
}

#canvas {
  left: 0;
  position: absolute;
  top: 0;
  z-index: -5;
}

#top-navbar {
  margin-bottom: 0;

  .navbar-brand {
    height: 48px;
  }

  .navbar-nav > li > a {
    padding-bottom: 12px;
    padding-top: 12px;
  }

  #demo-project-select {
    font-size: 14px;
  }
}

#filter-navbar {
  font-size: 12px;
  min-height: 28px;

  .container-fluid {
    position: relative;
    top: -4px;
  }

  .navbar-header {
    height: 30px;
    min-height: 30px;
  }

  .navbar-brand {
    font-size: 13px;
    padding: 10px;
    padding-left: 15px;
  }

  .navbar-left {
    line-height: 25px;
    position: relative;
    top: 9px;
  }

  form {
    display: inline-block;
  }
}

.modal-body {
  h3:first-of-type {
    margin-top: 0;
  }
}

.navbar {
  border-radius: 0;
}

@media (max-width: 768px) {
  #filter-navbar {
    .navbar-header {
      min-height: 50px;
    }

    .navbar-brand {
      font-size: 14px;
      padding: 5px;
      padding-left: 15px;
    }
  }
}